**Name:**Raja Tejeshwar

**Reg.No:**21BAI1665

**Email:**raja.tejeshwar2021@vitstudent.ac.in

**Campus:**VIT Chennai

In [2]:
import pandas as pd
import numpy as np

**Task - 1 :** Create a pandas dataframe

(DataFrame name as 'df')

(10 observation and 5 features)

In [17]:
d={'Name':['Teja','Raju','kumar','karthik','Kiran','Vikram','Anand','Adithya','Sreeram','Pradeep'],
   'Qualification':['Btech','Mtech',np.nan,'Btech','Btech','MBA',np.nan,'BBA','BBA','MBA'],
   'College':['VIT','VIT','VIT','IIT','SRM','VIT','IIT','VIT',np.nan,'NIT',],
   'Campus':['Chennai','Bhopal','Vellore','Madras','Chennai',np.nan,'Bombay','Vellore','Chennai','Warangal'],
   'Salary':[450000,55000,250000,50000,np.nan,75000,125000,np.nan,100000,58000]
}
d

{'Name': ['Teja',
  'Raju',
  'kumar',
  'karthik',
  'Kiran',
  'Vikram',
  'Anand',
  'Adithya',
  'Sreeram',
  'Pradeep'],
 'Qualification': ['Btech',
  'Mtech',
  nan,
  'Btech',
  'Btech',
  'MBA',
  nan,
  'BBA',
  'BBA',
  'MBA'],
 'College': ['VIT',
  'VIT',
  'VIT',
  'IIT',
  'SRM',
  'VIT',
  'IIT',
  'VIT',
  nan,
  'NIT'],
 'Campus': ['Chennai',
  'Bhopal',
  'Vellore',
  'Madras',
  'Chennai',
  nan,
  'Bombay',
  'Vellore',
  'Chennai',
  'Warangal'],
 'Salary': [450000,
  55000,
  250000,
  50000,
  nan,
  75000,
  125000,
  nan,
  100000,
  58000]}

In [13]:
df=pd.DataFrame(d)
df

      Name Qualification College    Campus    Salary
0     Teja         Btech     VIT   Chennai  450000.0
1     Raju         Mtech     VIT    Bhopal   55000.0
2    kumar           NaN     VIT   Vellore  250000.0
3  karthik         Btech     IIT    Madras   50000.0
4    Kiran         Btech     SRM   Chennai       NaN
5   Vikram           MBA     VIT       NaN   75000.0
6    Anand           NaN     IIT    Bombay  125000.0
7  Adithya           BBA     VIT   Vellore       NaN
8  Sreeram           BBA     NaN   Chennai  100000.0
9  Pradeep           MBA     NIT  Warangal   58000.0

**Task- 2 :** Check the info of 'df'

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           10 non-null     object
 1   Qualification  8 non-null      object
 2   College        9 non-null      object
 3   Campus         9 non-null      object
 4   Salary         8 non-null      float64
dtypes: float64(1), object(4)
memory usage: 528.0+ bytes

**Task - 3 :** Check the descriptive statistics of 'df'

In [15]:
df.describe()

              Salary
count       8.000000
mean   145375.000000
std    139421.188695
min     50000.000000
25%     57250.000000
50%     87500.000000
75%    156250.000000
max    450000.000000

**Task - 4 :** check the 4th index observation with 'loc' slicing operator.

In [16]:
df.loc[4]

Name               Kiran
Qualification      Btech
College              SRM
Campus           Chennai
Salary               NaN
Name: 4, dtype: object

**Task - 5 :**  Check the null values in your 'df'

In [18]:
df.isnull().any()

Name             False
Qualification     True
College           True
Campus            True
Salary            True
dtype: bool

In [19]:
df.isnull().sum()

Name             0
Qualification    2
College          1
Campus           1
Salary           2
dtype: int64